
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  --cor-primary: #F05F80;
  --cor-secundary: #E4A6AF;
  --cor-hover:#E6B5BB;
  --cor-white:#FFF;
  --cor-background:#FDFDFD;
  --background:#F1F1F1;
  --cor-font-primary:#F05F80;
  --cor-font-secundary:#111111;
  --cor-font-terciaria:#7E7E7E;
}

body {
  font-size: 1.6rem;
}

/*Inicio header*/
.header {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  max-width: 100rem;
  margin: auto;
}

.header-logo img{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  width: 15rem;
  margin-top: -4rem
}

.header-menu  {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.header-menu a {
  color:var(--cor-font-primary);
  display: inline-block;
  padding: 1.6rem 0;
  position: relative;
  font-size: 1.8rem;
  font-family: 'Pacifico', cursive;
}

.header-menu a::after {
  content: "";
  display: block;
  height: 0.2rem;
  width: 0px;
  position: absolute;
  background: var(--cor-font-primary);
  transition: 0.3s;
}

.header-menu a:hover::after {
 width: 100%;
}

/*media queus*/
@media (max-width: 800px) {
  .header-logo {
    display: none;
  }
  .header-menu {
    gap: 2rem;
  }
  .header-menu a {
    background: var(--cor-primary);
    padding: 0.8rem 1.6rem;
    border-radius: 0.4rem;
    color: var(--cor-white);
  }
  .header-menu a:hover {
    display: none;
  }
}
@media (max-width: 600px) {
  .header-menu {
    gap: 1.2rem;
  }
  .header-menu a {
    padding: 0.8rem 1.2rem;
    font-size: 1.4rem;
  }
}

.header-bg {
  width: 100%;
}

.header-bg h1 {
  color:var(--cor-font-primary);
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
}

/*Inicio main*/
.main-bg {
  width: 100%;
  height: 58rem;
  background-color: var(--background);
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100rem;
  margin: auto;
  padding: 2rem;
}

.main-content h1 {
  font-size: 8rem;
  font-weight: 400;
  color: var(--cor-font-primary);
  font-family: 'Great Vibes', cursive;
}

.main-content h2 {
  font-size: 4rem;
  font-weight: 400;
  color: var(--cor-secundary);
  font-family: 'Great Vibes', cursive;
}

.main-content p {
  font-size: 3rem;
  font-weight: 300;
  color: var(--cor-secundary);
  font-family: 'Great Vibes', cursive;
}

.btn  {
  display: inline-block;
  margin-top: 2rem;
  margin-bottom: 4rem;
  padding: 1.6rem 10rem;
  background-color: var(--cor-primary);
  border-radius: 0.4rem;
  font-size: 1.6rem;
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  color: var(--cor-white);
  transition: background-color 0.3s;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: var(--cor-hover);
  transform: scale(1.1);
}

.main-img {
  width: 100%;
  width: 50rem;
  transition: 0.3s;
  animation: entering 3s ease-in-out ;
}

.main-img:hover {
  scale: 1.1;
}

/*keyframes-main*/
@keyframes entering {
  0% {
   opacity:0;
   transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*midia query-main*/
@media (max-width:900px){
  :root {
    font-size: 62.5%;
  }
  .main-img {
    width: 400px;
  }
  .btn  {
    padding: 1.4rem 8rem;
    font-size: 1.6rem;
  }
}
@media (max-width: 768px) {
  :root {
    font-size: 62.5%;
  }
  .main-img {
    width: 350px;
  }
  .btn  {
    padding: 1.4rem 8rem;
    font-size: 1.6rem;
  }
}
@media (max-width: 656px) {
  :root {
    font-size: 62.5%;
  }
  .main-content h1 {
    font-size: 6rem;
  }
  .main-content h2 {
    font-size: 2.8rem;
  }
  .main-content p {
    font-size: 2.2rem;
  }
  .main-img {
    width: 350px;
  }
  .btn  {
    padding: 1.2rem 6rem;
    font-size: 1rem;
  }
}
@media (max-width: 585px) {
  :root {
    font-size: 62.5%;
  }
  .main-container {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .main-content h1 {
    text-align: center;
    font-size: 6rem;
  }
  .main-content h2 {
    text-align:center;
    font-size: 3rem;
  }
  .main-content p {
    font-size: 2rem;
  }
  .main-img {
    width: 25rem;
  }
  .btn  {
    padding: 1.2rem 6rem;
   margin-left: 40px;
    font-size: 1rem;
  }
}

/*Sectio-content*/
.section-bg {
  display: flex;
  flex-wrap: wrap;
}
.section-content {
  width: 100%;
  width: 96rem;
  height: 47rem;
  margin: auto;
  margin-top: -8rem;
  margin-bottom: 10rem;
  background-color: var(--cor-secundary);
  box-shadow: var(--cor-secundary) 0px 0.1rem 0.4rem;
  border-radius: 0.4rem;
}

.section-content h2 {
  text-align: center;
  font-family: 'Great Vibes', cursive;
  font-size: 6rem;
  font-weight: 400;
  color: var(--cor-white);
  padding-top: 4rem;
  position: relative;
}

.section-content h2::before {
  content: "";
  width: 10rem;
  height:0.4rem;
  background-color: var(--cor-background);
  top: 12rem;
  margin-left: 10rem;
  position: absolute;
}

.section-content p {
  text-align: center;
  font-family: 'Nunito', cursive;
  font-size: 2rem;
  font-weight: 300;
  color: var(--cor-white);
  padding-top: 2.6rem;
}

.section-content-bg-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.section-content-img {
  width: 100%;
  margin-top: 4rem;
  width: 240px;
  object-fit: cover;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.section-content-img:hover {
  transform: scale(1.1);
}

/*media query*/
@media (max-width: 768px) {
  :root {
    font-size: 62.5%;
  }
  .section-content h2 {
    font-size: 5rem;
    padding-top: 3rem;
  }
  .section-content p {
    font-size: 1.8rem;
    padding-top: 2rem;
  }
  .section-content h2::before {
    display: none;
  }
  .section-content-img {
    margin-top: 4rem;
    width: 200px;
  }
}
@media (max-width: 656px) {
  .section-content-img {
    margin-top: 4rem;
    width: 135px;
  }
}
@media (max-width: 425px) {
  .section-content h2 {
    font-size: 4rem;
    padding-top: 1.2rem;
  }
  .section-content p {
    font-size: 1.1rem;
    padding-top: 1rem;
  }
  .section-content-img {
    margin-top: 3rem;
    width: 135px;
   
  }
}

/*Section-bolos-aniversario*/
.grid {
  margin-bottom: 4rem;
}
.grid h2 {
  font-size: 6rem;
  font-weight: 500;
  text-align: center;
  color: var(--cor-font-primary);
  font-family: 'Great Vibes', cursive;
  position: relative;
  margin-bottom: 3rem;
}

.grid h2::before {
  content: "";
  width: 100px;
  height: 4px;
  background-color: var(--cor-primary);
  top: 8rem;
  margin-left: 144px;
  position: absolute;
}

.image-grid {
  --gap:4rem;
  --num-cols:4;
  padding: var(--gap);
  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows:var(--row-height);
  gap: var(--gap);
}

.image-grid > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.image-grid > img:hover {
  transform: scale(1.1);
}

.image-grid-col-2 {
  grid-column: span 2;
}

.image-grid-row-2 {
  grid-row: span 2;
}

@media screen and (max-width: 1200px) {
  .image-grid {
    --num-cols: 2;
    --row-height:200px;
  }
}
@media (max-width: 425px) {
  .grid h2 {
    font-size: 5rem;
    margin-top: -50px;
    margin-bottom: 0.1rem;
  }
  .grid h2::before {
    display: none;
  }
}

/*Section-Clientes*/
.section-clientes {
  width: 100%;
  max-width:120rem;
  margin: auto;
  margin-bottom: 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.section-clientes-bg h2 {
  text-align: center;
  font-family: 'Great Vibes', cursive;
  font-size: 6rem;
  font-weight: 400;
  color: var(--cor-font-primary);
  padding-top: 4rem;
  position: relative;
}

.section-clientes-bg h2::before {
  content: "";
  width: 10rem;
  height: 0.4rem;
  background-color: var(--cor-primary);
  top: 12rem;
  margin-left: 10rem;
  position: absolute;
}

.section-clientes-bg p {
  font-family: 'Nunito', sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--cor-font-secundary);
  margin: 8px;
}

.section-clientes img {
  height: 13rem;
  max-width: 100%;
  margin-top: 4rem;
  object-fit: cover;
  border-radius: 0.4rem;
  transition: transform 0.3s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  
}

.section-clientes img:hover {
  transform: scale(1.1);
}

/*Media query Section-Clientes*/
@media (max-width:768px) {
  .section-clientes {
    margin-top: -2rem;
  }
  .section-clientes-bg h2 {
    font-size: 5rem;
  }
  .section-clientes-bg p {
    font-size: 1rem;
  }
  .section-clientes-bg h2::before {
    display: none;

  }
  .section-clientes-card {
    margin-top: -4rem;
  }
}
@media (max-width:425px) {
  .section-clientes {
    margin-top: -1rem;
  }
  .section-clientes-bg h2 {
    font-size: 4rem;
    padding-top: -2rem;
  }
  .section-clientes-bg p {
    font-size: 1rem;
    margin: 4px;
  }
  .section-clientes-bg h2::before {
    display: none;

  }
  
}

/*Footer*/
.footer-bg {
  background-color: var(--background);
}

.footer-container {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 justify-items: center;
}

.footer-endereco {
 margin: 4rem 0;
}